





p{ 
    text-align:center;
    font-size:22px;
    }

h1{
  color:aliceblue;
}
h2{
 color: aliceblue;
 width: 1633px;
 margin: -14px;
}

h3{
    font-size:5px;
  }

.proPic{
    background-image:url("../img/logo.png");
}

#logo{
	float: left;
	width: 306px;
	padding-top: 31px;
}

#sign-out{
	float: right;	
	padding-top: 85px;
  text-decoration-color: blue;
}

#profile{
	float: right;
	width: 133px;
	padding-top: 5px;
  margin-right:20px; 
}

body {
   background-image:url("../img/background.jpg");
   opacity:50;
   background-size:cover;
   background=position:fixed;
   margin-left:100px ;
   font-family: 'Work Sans', sans-serif;
   font-weight: 800;
   text-align:left;
   color: white;
   padding-top: 6px;
}
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: 5px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 10px 60px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


.checked {
    color: orange;

 }

.vl {
    border-left: 6px solid green;
    height: 500px;
}

.footer {
	overflow: auto;
  border: 5px solid black;
	border-top-style: groove;
	position: absolute;
	bottom: -804px;
	width: 99%;
}

#footer-left-content span{
     margin: 4px;
     float: left;
     margin-left: 20px;
     }

#footer-left-content img{
     margin: 4px;
     float: left;
    }




